---
spring:
  application:
    name: configserver
server:
  port: 8888
---
spring:
  cloud:
    config:
      server: 
        git:
          uri: https://github.com/bipingupta/Microservices-Demo
          searchPaths: ConfigData
#          uri: file://D:/IBM/Workspace/SpringCloud/Microservices-Demo/ConfigData/Microservices-With-Spring-Student-Files
#          searchPaths: ConfigData
           
